@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  margin: auto;
}

.content-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 1440px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-search::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button-search {
  font-size: 16px;
  line-height: 20px;
}

.button-login {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.button-logout {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

.yellow-wrapper {
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 60px 22px 60px;
  width: 1160px;
  margin: 0 auto;
  background: lInear-gradient(#ffffff 22px, #ffe17f 0);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.search-wrapper {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;

}

.authorize {
  margin-right: auto;
  margin-left: 53px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-serviсe {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.navigation-sub-menu {
  width: 100%;
  display: none;
}

.device-logo {
  margin-left: 60px;
}

.promo-slider {
  width: 1160px;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
}

.promo-slider-wrapper {
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
  width: 1160px;
  overflow-x: clip;
  display: grid;
  grid-template-columns: repeat(3, 1160px);
  list-style-type: none;
}

.slider-item {
  padding-top: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1160px 314px;
}

.slider-item-drone {
 background-image: url("../images/bg-drone.jpg");
}

.slider-item-band {
 background-image: url("../images/bg-band.jpg");
}

.slider-item-selfie {
 background-image: url("../images/bg-selfie.jpg");
}

.info-container {
  display: flex;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.slider-tittle {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-annotation {
  padding-top: 124px;
}

.slider-button {
  position: absolute;
  top: 360px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.slider-button-prev {
  left: 30px;
}

.slider-button-next {
  left: 540px;
}

.button-about {
  width: 220px;
}

.top-tittle {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.info-text {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.slider-pagination {
  position: absolute;
  right: 0;
  bottom: 173px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  width: 12px;
  height: 12px;
  box-shadow: inset 0 0 0 2px #000000;
  border-radius: 50%;
}

.slider-pagination-item:not(:last-of-type) {
  margin-right: 20px;
}

.slider-pagination-item-current {
  background-color: #000000;
}

.assortment {
  padding-top: 70px;
}

.assortment-list {
  margin: 0 140px 0 140px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.assortment-item {
  margin: 0;
  padding: 0;
}

.assortment-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe17f;
  min-height: 160px;
}

.assortment-tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.service {
  background: lInear-gradient(#ffffff 102px, #f0f0f0 0);
}

.service-wrapper {
  padding-top: 70px;
  padding-bottom: 72px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 280px 1fr;
  column-gap: 116px;
  width: 1160px;
}

.service-tabs {
  padding-bottom: 70px;
  list-style-type: none;
  margin: 0;
  border-right: 7px solid #000000;
}

.service-tab:not(:last-of-type) {
  margin-bottom: 55px;
}

.service-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tab-label {
  width: 160px;
}

.service-tab-current {
  background-color: #000000;
}

.service-tab-current .tab-label {
  color: #ffe17f;
}

.service-tab-current .tab-label::after {
  display: none;
}

.service-item {
  display: grid;
  grid-template-columns: 475px 1fr;
}

.service-item-guarantee {
  display: none;
}

.service-item-credit {
  display: none;
}

.service-image {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.button-info {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  background-color: transparent;
  padding: 10px;
  z-index: 1;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-info::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #ffe17f;
  z-index: -1;
}

.service-tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.delivery-info {
 margin: 0 auto;
 width: 1160px;
 padding: 0;
}

.delivery-info-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  justify-content: space-between;
  background: #F0F0F0;
}

.delivery-decoration {
  position: relative;
  width: 125px;
  min-height: 100px;
  background-color: #ffe17f;
}

.delivery-decoration::after {
  content: url("../images/truck.svg");
  position: absolute;
  top: 35px;
  left: 39px;

}

.delivery-info-tittle {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.delivery-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
}

.delivery-icon svg {
  opacity: 0.5;
}

.adress-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 70px 140px 0 140px;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-page-tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-subtittle {
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-schedule {
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.subscribe {
  margin: 80px 140px 0 140px;
}

.subscribe-wrapper {
  display: flex;
}

.subscribe-form-wrapper {
  display: flex;
}

.subscribe-tittle {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-text {
  color: #444444;
}

.additional-info {
  color: #444444;
}

.email-subscribe::placeholder {
  color: #444444;
  opacity: 0.5;
}

.button-subscribe {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.page-footer {
  background-color: #444444;
  padding: 62px 140px 65px 140px;
}

.footer-adress {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
}

.footer-social-list {
  margin: 0;
  margin-right: 300px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 220px;
  list-style-type: none;
}

.navigation-service-footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  min-width: 454px;
}

.footer-navigation-link {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
}

.inner-header-tittle {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.filter-tittle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.range-input-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

.sorting-tittle {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.pagination-link {
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}
