@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  border: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.main-search::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button-search {
  font-size: 16px;
  line-height: 20px;
}

.button-login {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.button-logout {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

.yellow-wrapper {
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 60px 22px 60px;
  width: 1160px;
  margin: 40px auto 0 auto;
  background: lInear-gradient(#ffffff 22px, #ffe17f 0);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.search-wrapper {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;

}

.authorize {
  margin-right: auto;
  margin-left: 53px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-serviсe {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.navigation-sub-menu {
  width: 100%;
  display: none;
}

.device-logo {
  margin-left: 60px;
}

.promo-slider {
  width: 1160px;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
}

.promo-slider-wrapper {
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
  width: 1160px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1160px);
  list-style-type: none;
}

.slider-item {
  padding-top: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1160px 314px;
}

.slider-item-drone {
 background-image: url("../images/bg-drone.jpg");
}

.slider-item-band {

}

.slider-item-selfie {

}


.info-container {
  display: flex;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.slider-tittle {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-annotation {
  padding-top: 124px;
}

.slider-button {
  position: absolute;
  top: 360px;
}

.slider-button-prev {
  left: 30px;
}

.slider-button-next {
  left: 540px;
}

.button-about {
  letter-spacing: 0.2em;
}

.top-tittle {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.info-text {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.assortment-tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.button-info {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.service-tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.delivery-info-tittle {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-page-tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-subtittle {
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-schedule {
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.subscribe-tittle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-text {
  color: #444444;
}

.additional-info {
  color: #444444;
}

.email-subscribe::placeholder {
  color: #444444;
  opacity: 0.5;
}

.button-subscribe {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.footer-adress {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-navigation-link {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
}

.inner-header-tittle {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.filter-tittle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.range-input-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

.sorting-tittle {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.pagination-link {
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}
